.userList_section {
	padding: 2.5rem;
	background-color: var(--background-color);
	transition: all 0.25s ease;
}

.users_list {
	display: flex;
	flex-direction: column;
	background-color: var(--background-card);
	border-radius: 2rem;
}
.users {
	display: grid;
	grid-template-columns: 1fr 9fr;
	padding: 1.5rem 2rem;
	border-bottom: 0.1rem solid var(--line);
	transition: all 0.25s ease;
	text-decoration: none;
}
.users:hover {
	background-color: var(--background-card-hover);
	transition: all 0.25s ease;
}
.users:first-child {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.users:last-child {
	border-bottom: 0.1rem solid transparent;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.users_pic {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 50%;
	transition: all 0.25s ease;
}

.users_info {
	padding: 0 0 0 1rem;
	text-decoration: none;
}
.users_info > h1 {
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--head-primary);
	transition: all 0.25s ease;
}
.users_info > h2 {
	font-size: 1.325rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--head-secondary);
	transition: all 0.25s ease;
}
.users_info:hover > h1,
.users_info:hover > h2 {
	color: var(--primary-color);
	transition: all 0.25s ease;
}

.users_info_alt {
	padding: 0 0 0 1rem;
	text-decoration: none;
}
.users_info_alt > h1 {
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--head-primary);
	transition: all 0.25s ease;
}
.users_info_alt > h2 {
	font-size: 1.325rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--head-secondary);
	transition: all 0.25s ease;
}

.users_info_cta {
	z-index: 1;
	font-size: 1.375rem;
	letter-spacing: 0.04rem;
	padding: 0.325rem 0.95rem;
	border-radius: 4rem;
	color: var(--head-secondary);
	background-color: transparent;
	border: 0.1rem solid var(--head-secondary);
	transition: all 0.25s ease;
}

.users_info_cta:hover {
	cursor: pointer;
	color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	transition: all 0.25s ease;
}

.users_info_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.users_empty {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 2rem;
	border-bottom: 0.1rem solid var(--line);
	transition: all 0.25s ease;
	text-decoration: none;
}
.users_empty:hover {
	background-color: var(--background-card-hover);
	transition: all 0.25s ease;
}
.users_empty:first-child {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.users_empty:last-child {
	border-bottom: 0.1rem solid transparent;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
