.container {
	display: none;
}

@media screen and (max-width: 880px) {
	.container {
		z-index: 5;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 10vh;
		background-color: var(--background-color);
		border: 0.1rem solid var(--line);
		display: flex;
		align-items: center;
		padding: 0 2rem;
		transition: all ease 0.25s;
	}
	.link_list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all ease 0.25s;
	}
	.link_list > li {
		list-style: none;
	}
	.link_icons {
		font-size: 3rem;
		color: var(--head-secondary);
		transition: all ease 0.25s;
	}
	.link_icons_active > .link_icons {
		color: var(--primary-color);
		transition: all ease 0.25s;
	}
}
