.container {
	background-color: var(--background-color);
	transition: all 0.25s ease;
	min-height: 100vh;
}

.head_container {
	position: sticky;
	top: 0;
	z-index: 1;
	height: var(--head-height);
	padding: 1rem 2rem;
	background-color: var(--background-color);
	border-bottom: 0.1rem solid var(--line);
	display: flex;
	align-items: flex-end;
	transition: all 0.25s ease;
}

.route_head {
	font-size: 2.25rem;
	font-weight: 700;
	letter-spacing: 0.025rem;
	color: var(--head-primary);
	transition: all 0.25s ease;
}
.notification_list_container {
	width: 100%;
	padding: 2.5rem 4rem;
	background-color: var(--background-color);
	transition: all 0.25s ease;
}

.notification_list {
	display: flex;
	flex-direction: column;
	background-color: var(--background-card);
	border-radius: 2rem;
}
.notification_container {
	display: grid;
	grid-template-columns: 1fr 9fr;
	padding: 1.5rem 2rem;
	border-bottom: 0.1rem solid var(--line);
	transition: all 0.25s ease;
	text-decoration: none;
}

.notification_container:hover {
	background-color: var(--background-card-hover);
	transition: all 0.25s ease;
}
.notification_container:first-child {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.notification_container:last-child {
	border-bottom: 0.1rem solid transparent;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.pfp {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 50%;
	transition: all 0.25s ease;
}

.notification_info {
	padding: 0 0 0 1rem;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}
.notification_info h1 {
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--head-primary);
	transition: all 0.25s ease;
}
.notification_info h2 {
	font-size: 1.325rem;
	font-weight: 400;
	text-decoration: none;
	margin-left: 0.45rem;
	color: var(--head-secondary);
	transition: all 0.25s ease;
}

.notification {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: none;
	color: var(--primary-color);
	transition: all 0.25s ease;
}
.user_info {
	display: flex;
	align-items: baseline;
}

.loaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	/* margin: 3rem; */
}
.loaderContainer div {
	border: 4.5px solid var(--primary-loader-bg);
	border-right-color: var(--primary-color);
}

.noPostContainer {
	display: flex;
	flex-direction: column;
	padding: 2.5rem;
	background-color: var(--background-color);
	transition: all 0.25s ease;
}

.noNotfication {
	background-color: var(--background-card);
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 2rem;
	text-decoration: none;
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--head-primary);

	transition: all 0.25s ease;
}

@media screen and (max-width: 768px) {
	.head_container {
		height: var(--head-height-mobile);
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 411px) {
	.notification_list_container {
		width: 100%;
		padding: 1.75rem 1.75rem;
		background-color: var(--background-color);
		transition: all 0.25s ease;
	}
}
