.container {
	background-color: var(--background-color);
	transition: all 0.25s ease;
	min-height: 100vh;
}
.head_container {
	position: sticky;
	top: 0;
	z-index: 1;
	height: 6.5vh;
	padding: 0.5rem 2.5rem;
	background-color: var(--background-color);
	transition: all 0.25s ease;
	display: flex;
	align-items: center;
}

.search_container {
	width: 100%;
	height: 4.5vh;
	border-radius: 3rem;
	border: 0.2rem solid var(--primary-color);
	background-color: var(--background-color);
	display: grid;
	grid-template-columns: 2fr 8fr;
	transition: all 0.25s ease;
}
.search_cta {
	font-size: 2rem;
	color: var(--primary-color);
	transition: all 0.25s ease;
}
.search_input {
	background-color: var(--background-color);
	border-radius: 0 3rem 3rem 0;
	border: none;
	outline: none;
	font-size: 1.5rem;
	color: var(--head-secondary);
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.01rem;
	transition: all 0.25s ease;
}
.search_input::placeholder {
	font-family: "Poppins", sans-serif;
	color: var(--head-secondary);
}

.search_cta_container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3rem 0 0 3rem;
	background-color: var(--background-color);
	cursor: pointer;
	transition: all 0.25s ease;
}

.userList_section {
	padding: 1rem 1.5rem;
	background-color: var(--background-color);
	transition: all 0.25s ease;
	min-height: 93.5vh;
}
.userList_container {
	background-color: var(--background-card);
	border-radius: 2rem;
	padding: 1.5rem 0 0 0;
	transition: all 0.25s ease;
}
.userList_container_alt {
	background-color: var(--background-card);
	border-radius: 2rem;
	padding: 0;
	transition: all 0.25s ease;
}

.userList_header {
	padding: 0 2rem 1.5rem 2rem;
	transition: all 0.25s ease;
}

.userList_header > p {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: 0.025rem;
	color: var(--head-primary);
	transition: all 0.25s ease;
}

.users_list {
	display: flex;
	flex-direction: column;
	border-top: 0.1rem solid var(--line);
}
.users_list_alt {
	display: flex;
	flex-direction: column;
}
.users_alt:first-child {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.users_alt:last-child {
	border-bottom: 0.1rem solid transparent;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.users:last-child {
	border-bottom: 0.1rem solid transparent;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.users_alt {
	display: grid;
	grid-template-columns: 1fr 9fr;
	padding: 1.5rem 2rem;
	border-bottom: 0.1rem solid var(--line);
	transition: all 0.25s ease;
	text-decoration: none;
}
.users_alt:hover {
	background-color: var(--background-card-hover);
	transition: all 0.25s ease;
}

.users {
	display: grid;
	grid-template-columns: 1fr 9fr;
	padding: 1.5rem 2rem;
	border-bottom: 0.1rem solid var(--line);
	transition: all 0.25s ease;
	text-decoration: none;
}
.users:hover {
	background-color: var(--background-card-hover);
	transition: all 0.25s ease;
}

.users_pic {
	width: 5rem;
	height: auto;
	border-radius: 50%;
	transition: all 0.25s ease;
}
.users_info_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.users_info {
	padding: 0 0 0 1rem;
}
.users_info > h1 {
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--head-primary);
	transition: all 0.25s ease;
}
.users_info > h2 {
	font-size: 1.325rem;
	font-weight: 400;
	color: var(--head-secondary);
	transition: all 0.25s ease;
}

.users_info_cta {
	font-size: 1.15rem;
	font-weight: 500;
	letter-spacing: 0.02rem;
	padding: 0.325rem 0.95rem;
	border-radius: 4rem;
	color: var(--head-secondary);
	border: 0.1rem solid var(--head-secondary);
	transition: all 0.25s ease;
}

.users_info_cta:hover {
	color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	transition: all 0.25s ease;
}

@media screen and (max-width: 1024px) {
	.head_container {
		height: 10vh;
		padding: 1rem 2rem;
	}
	.search_container {
		height: 100%;
	}
}
